@model IEnumerable<MovieDirectorApp.Models.Director>

@{
    ViewBag.Title = "Index";
}

<h2>Directors</h2>

<p>
    <button>@Html.ActionLink("Create New", "Create")</button>
</p>

    <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.DirectorID }) </button>
                        <button> @Html.ActionLink("Details", "Details", new { id = item.DirectorID }) </button>
                        <button>@Html.ActionLink("Delete", "Delete", new { id = item.DirectorID })</button>
</td>
                </tr>
            }

        </table>
