@model IEnumerable<MovieDirectorApp.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h1>Genres</h1>

<p>
    <button>@Html.ActionLink("Create New", "Create")</button>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Type)</h3>
                    <button>@Html.ActionLink("Edit", "Edit", new { id = item.GenreID }) </button>
                    <button>@Html.ActionLink("Details", "Details", new { id = item.GenreID })</button>
                    <button>@Html.ActionLink("Delete", "Delete", new { id = item.GenreID })</button>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <button>@Html.ActionLink("Back to Home", "Index", "Home")</button>
</div>
